<h5 class="mt-3">Einstellungen:</h5>
<div *ngIf="loraSetting" class="row">
  <div class="col-8">
    <div class="label">Port</div>
    <div class="input-group input-group-sm">
      <select (ngModelChange)="selectPort(selectedPortId)" [(ngModel)]="selectedPortId" class="form-select form-select-sm">
        <option *ngFor="let port of ports" [value]="port.path">{{port.comName}}</option>
      </select>
      <button (click)="getAllPorts()" class="btn btn-sm btn-success">Update</button>
    </div>
  </div>
  <div class="col-4">
    <div class="label">Eigene Adresse</div>
    <div><input [(ngModel)]="loraSetting.address" class="form-control form-control-sm" max="255" min="0" type="number"></div>
  </div>
  <div class="col-12">
    <div class="label">Konfiguration</div>
    <div><input class="form-control form-control-sm" readonly type="text" value="{{loraSetting.configString}} | Baud:{{loraSetting.baudRate}}"></div>
  </div>
</div>
<hr>
<h5>Status</h5>
<div *ngIf="selectedPort" class="row">
  <div class="col-3">
    <div class="label">COM Name</div>
    <div>{{selectedPort.comName}}</div>
  </div>
  <div class="col-3">
    <div class="label">Status</div>
    <div *ngIf="connected === 'CONNECTED'" class="fw-bold text-success">Verbunden</div>
    <div *ngIf="connected === 'ERROR'" class="fw-bold text-danger">Fehler</div>
    <div *ngIf="connected === 'CONNECTING'" class="fw-bold text-warning">Verbindet</div>
    <div *ngIf="connected === 'NOT_CONNECTED'" class="fw-bold text-secondary">Nicht verbunden</div>
  </div>
  <div class="col-3">
    <div class="label">AT Status</div>
    <div *ngIf="atStatus === 'OK'" class="fw-bold text-success">OK</div>
    <div *ngIf="atStatus === 'WAITING_ACK'" class="fw-bold text-warning">Warte auf Sendebestätigung</div>
    <div *ngIf="atStatus === 'SENDING'" class="fw-bold text-warning">SENDING</div>
    <div *ngIf="atStatus === 'SENDED'" class="fw-bold text-warning">SENDED</div>
    <div *ngIf="atStatus === 'SYSTEM_ERROR'" class="fw-bold text-danger">System-Fehler</div>
  </div>
  <div class="col-12 mt-1">
    <button (click)="connectToPort()" *ngIf="connected !== 'CONNECTED'" [disabled]="!loraSetting || loraSetting.configString === '' || loraSetting.address <= 0 || !selectedPort" class="btn btn-sm me-2 btn-primary">Verbinden</button>
    <button (click)="closePort()" *ngIf="connected === 'CONNECTED'" class="btn btn-sm me-2 btn-danger">Trennen</button>
    <button (click)="checkAT()" *ngIf="connected === 'CONNECTED'" class="btn btn-sm me-2 btn-primary">AT Prüfen</button>
  </div>
</div>
<hr>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a (click)="tab = 'CHAT'" [ngClass]="{'active': tab === 'CHAT'}" class="nav-link">Chat</a>
  </li>
  <li class="nav-item">
    <a (click)="tab = 'DEBUG'" [ngClass]="{'active': tab === 'DEBUG'}" class="nav-link">Debug</a>
  </li>
</ul>
<ng-container *ngIf="tab === 'CHAT'">
  <div class="row my-3">
    <div class="col">
      <h5>Chat:</h5>
      <div class="overflow-auto border rounded w-100 mb-3 p-3" style="height: 500px">
        <div *ngFor="let item of chat" class="d-block w-100">
          <div>
            <div
              [ngClass]="{'bubble': (!item.isSend && item.from !== 'SYSTEM' && item.from !== 'INFO'),'bubble-err': (!item.isSend && item.from === 'SYSTEM'),'bubble-info': (!item.isSend && item.from === 'INFO'), 'bubble-self text-end': item.isSend}"
              class="bubble py-1 px-3 text-wrap">{{item.text}}</div>
            <small [ngClass]="{ 'text-end': item.isSend}" class="mb-2 text-secondary small d-block" style="margin-top: -4px"><span *ngIf="item.from && item.from !== ''">{{item.from}} </span>am {{item.date | date:'dd.MM.yy HH:mm:ss'}}
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="label">Empfänger</div>
          <input [(ngModel)]="destinationAddress" class="form-control form-control-sm" max="255" min="0" type="number">
        </div>
        <div class="col-9">
          <div class="label">Nachricht senden</div>
          <div class="input-group input-group-sm mb-3">
            <input [(ngModel)]="inputString" [disabled]="atStatus !== 'OK'" class="form-control form-control-sm" placeholder="Text eingeben" type="text">
            <button (click)="sendMessage()" [ngClass]="{'disabled': (atStatus !== 'OK')}" class="btn btn-sm btn-success">Senden</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="tab === 'DEBUG'">
  <div class="row my-3">
    <div class="col-6 border-end">
      <h5>Konsole:</h5>
      <div class="overflow-auto border rounded w-100 mb-3 p-3" style="height: 500px">
        <pre *ngFor="let rawItem of rawData" [ngClass]="{'green-text': rawItem.isSend}" class="d-block m-0" style="overflow-x: hidden"><span>{{rawItem.date | date:'dd.MM.yy HH:mm:ss'}}</span> - {{rawItem.data}}</pre>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="label">Befehl senden</div>
          <div class="input-group input-group-sm mb-3">
            <input [(ngModel)]="inputStringRaw" [disabled]="atStatus !== 'OK'" class="form-control form-control-sm" placeholder="Befehl eingeben" type="text">
            <button (click)="sendRawMessage()" [ngClass]="{'disabled': atStatus !== 'OK'}" class="btn btn-sm btn-secondary">Senden</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 border-end">
      <h5>Routing Table:</h5>
      <table class="table table-sm">
        <thead>
        <tr>
          <th>Dest.</th>
          <th>Next Hop</th>
          <th>Precursors</th>
          <th>Sequence Nr.</th>
          <th>Metric</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of routingService.routingTable">
          <th>{{item.destination}}</th>
          <td>{{item.nextHop}}</td>
          <td>
            <ul>
              <li *ngFor="let pre of item.precursors"> {{pre}}</li>
            </ul>
          </td>
          <td>{{item.seqNum}}</td>
          <td>{{item.metric}}</td>
        </tr>
        </tbody>
      </table>
      <hr>
      <h5>Rev. routing Table:</h5>
      <table class="table table-sm mt-3">
        <thead>
        <tr>
          <th>Dest.</th>
          <th>Prev Hop</th>
          <th>Source</th>
          <th>Request ID</th>
          <th>Metric</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of routingService.reverseRoutingTable">
          <th>{{item.destination}}</th>
          <td>{{item.previousHop}}</td>
          <td>{{item.source}}</td>
          <td>{{item.requestId}}</td>
          <td>{{item.metric}}</td>
        </tr>
        </tbody>
      </table>
      <h5>Waiting vor ACK for message:</h5>
      <p *ngIf="packageToSend">To: {{packageToSend.destAddress}} ({{packageToSend.msg}})</p>
      <h5>Waiting for Route:</h5>
      <table class="table table-sm mt-3">
        <thead>
        <tr>
          <th>Req. ID.</th>
          <th>Dest.</th>
          <th>Ori. Sequence</th>
          <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of waitForRoute">
          <th>{{item.routeRequest.requestId}}</th>
          <td>{{item.routeRequest.destAddress}}</td>
          <td>{{item.routeRequest.originSequence}}</td>
          <td>{{item.msg.msg}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
